@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .input {
        @apply px-3 py-2 rounded-md bg-b-1 focus:outline-none focus:border-none transition-all duration-300
    }

    .btn {
        @apply px-4 py-2 bg-b-1 hover:bg-b-2/50 rounded-md transition-all duration-200 flex items-center justify-center
    }
}

.wrapper {
    overflow: hidden;
    align-items: stretch;
}

.bg-gradient {
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b)
}

.scaleD {
    width: calc(400% + 20px);
    height: calc(400% + 20px);
    border: 0;
    transform: scale(.25);
    transform-origin: top left;
}

* {
    font-family: "Fira Code", monospace;
    color-scheme: dark;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}